<head><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aboutus.css') }}"></head>
<body>
<div class="strip">
{% include '_navbar.html' %}
</div>
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <!-- ####################################################################################################### -->
      <section id="about-intro" class="clear">
        <h2 style="color:black; background-color: rgba(255,255,255,0.7); background-image: none; padding:30px;">About Us</h2>
        <img src="static/css/aboutus_rvce.jpg" alt="RVCE Front view" class="center">
        <p style="color:white;">In sed neque id libero pretium luctus. Vivamus faucibus. Ut vitae elit. In hac habitasse platea dictumst. Proin et nisl ac orci tempus luctus. Aenean lacinia justo at nisi. Vestibulum sed eros sit amet nisl lobortis commodo. Suspendisse nulla. Vivamus ac lorem. Aliquam pulvinar purus at felis. Quisque convallis nulla id ipsum. Praesent vitae urna. Fusce blandit nunc nec mi. Praesent vestibulum hendrerit ante.</p>
        <p>Vivamus accumsan. Donec molestie pede vel urna. Curabitur eget sem ornare felis gravida vestibulum.Sed pulvinar, tellus in venenatis vehicula, lorem magna dignissim erat, in accumsan ante lorem sit amet lorem.</p>
      </section>
      <!-- ####################################################################################################### -->
      <section id="team">
        <h2 style="color:black; background-color: rgba(255,255,255,0.7); background-image: none; padding:30px;">Our Team</h2>
        <ul class="clear">
          <li class="one_third first">
            <figure><img src="images/demo/team-member.gif" alt="">
              <figcaption>
                { % for index in todisplay %}
                <p class="team_name">{{ index['name'] }}</p>
                { % endfor %}
                <p class="team_title">Job Title Here</p>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="images/demo/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="wastecandm/static/css/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third first">
            <figure><img src="wastecandm/static/css/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="images/demo/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="images/demo/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Name Goes Here</p>
                <p class="team_title">Job Title Here</p>
                <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
</body>